.pasty {
  //background-size: cover;
  //position: relative;
  //z-index: 10;
  //top: 0px;
  //left: 0px;

 	background-repeat: no-repeat;
    background-size: cover;
  	padding-bottom: 62.5%; // ratio is 16:10
    background-position: 50% 50%;
     // background-color: blue;
      margin-right: -15px; // Remove right gap
    margin-left: -15px;  // Remove left gap

}

